In [3]:
# скачиваем файл
#!cd ../data
#!wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=1cq9JDz8-zwzoGL6udiT_ogHHRWdnsd1q' -O math_students.csv
#!cd ..

In [4]:
import pandas as pd
df = pd.read_csv('../data/math_students.csv', delimiter=',')

1. Какая причина выбора школы была самой частой? В качестве ответа приведите соответствующее значение признака.

In [16]:
df["reason"].value_counts()

course        145
home          109
reputation    105
other          36
Name: reason, dtype: int64

In [ ]:
#answer : course

2. Найдите количество студентов, у родителей которых нет никакого образования.

In [32]:
sum((df["Medu"] == 0) & (df["Fedu"] == 0))

0

In [ ]:
#answer : 0

3. Найдите минимальный возраст учащегося школы Mousinho da Silveira.

In [23]:
df.loc[df["school"] == "MS", "age"].min()

17

In [ ]:
#answer : 17

4. Найдите количество студентов, имеющих нечетное число пропусков.

In [34]:
sum(df["absences"] % 2)

41

In [ ]:
# answer : 41

5. Найдите разность между средними итоговыми оценками студентов, состоящих и не состоящих в романтических отношениях. В качестве ответа приведите число, округленное до двух значащих цифр после запятой.

In [35]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [51]:
table= df.groupby(["romantic"])["G3"].mean()
table.to_frame()

                 G3
romantic
no        10.836502
yes        9.575758

In [53]:
round(table[0] - table[1],2) # answer

1.26

6. Сколько занятий пропустило большинство студентов с самым частым значением наличия внеклассных активностей?

*Примечание. В данном контексте под "большинством" подразумеваются студенты, имеющее самое частое значение пропусков. То есть в данном задании необходимо:*


* *Определить самое частое значение наличия внеклассных активностей (да или нет).*
* *Для группы студентов, соответствующей этому значению, рассмотреть значения признака «число пропусков».*
* *Для каждого значения числа пропусков посчитать, сколько студентов ему соответствует.*
* *Выбрать значение числа пропусков с наибольшим числом студентов.*

In [63]:
fr_act = df["activities"].max()

df[df["activities"] == fr_act]["absences"].value_counts().to_frame()

    absences
0         51
2         37
4         29
6         17
8         16
10         9
14         7
3          4
16         4
7          3
12         3
15         3
11         2
9          2
18         2
20         2
1          2
13         1
54         1
17         1
5          1
22         1
25         1
30         1
56         1

In [ ]:
#answer : 0